.blog-placeholder-svg {
  height: 100%;
}

@media screen and (min-width: 990px) {
  .grid--1-col-desktop .article-card .card__content {
    text-align: center;
  }
}

.blog__title {
  margin: 0;
}

.blog__posts.articles-wrapper {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .blog__posts.articles-wrapper {
    margin-bottom: 0;
  }
}

.blog__posts.articles-wrapper .article {
  scroll-snap-align: start;
}

@media screen and (max-width: 749px) {
  .blog__post.article {
    width: calc(100% - 3rem - var(--grid-mobile-horizontal-spacing));
  }
}

.background-secondary .blog-placeholder__content {
  background-color: rgb(var(--color-background));
}

.blog__posts .card-wrapper {
  width: 100%;
}

.blog__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .blog__button {
    margin-top: 5rem;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (min-width: 750px) {
    .blog__posts .article + .article {
      margin-left: var(--grid-desktop-horizontal-spacing);
    }
  }
}

.featured--article .title-wrapper-with-link {
  display: none;
}
.featured--article .card {
  flex-direction: row-reverse !important;
}
.featured--article .card__information {
  padding: 2rem 4rem 2rem 0 !important;
  text-align: left;
}
.featured--article .card h2.italic-heading {
  display: block !important;
  margin: 0 0 1.5rem;
  letter-spacing: 0.2px;
}
.featured--article .card__heading {
  font-family: 'Nineties Headliner', san-serif;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  font-weight: inherit;
  line-height: 0.9;
}
.featured--article .article-card__excerpt {
  display: none;
}
.article-card__footer p {
  color: #2552A3;
  letter-spacing: 0.2px;
  font-size: 16px;
}

@media (max-width: 749px) {
  .featured--article .card {
    flex-direction: column-reverse !important;
  }
  .featured--article .card__heading {
    font-size: 45px;
  }
  .featured--article .card__information {
    padding-right: 0 !important;
  }
}


